body {
	padding: 0px;
	margin: 0px;
	font-family: Helvetica, sans-serif;
}

#page {
	margin-top: 30px;
}

#header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #ab1d0e;
	background-color: #ff5741;
	box-shadow: 0px 2px 1px #dadada;
	text-align: center;
	padding-top: 3px;
}

.title {
	font-size: 30px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 0px 1px #202020;
	font-family: nova square, Helvetica, sans-serif;
}

#sidebar {
	padding: 10px;
}

.container-fluid, .container {
	margin: 30px auto 0 auto;
	padding: 10px;
}

.container.welcome {
	margin-top: 60px;
	padding: 0px 20px 0px 20px;
}

.container.welcome > h1 {
	text-align: center;
}

input[type="text"], input[type="password"] {
	height: 30px;
	line-height: 30px;
}

form#register > .control-group > label.control-label,
form#login > .control-group > label.control-label {
	width: 80px;
}

div#login_container {
	margin-right: 20px;
}

div#login_error {
	font-size: 12px;
	display: none;
}

form#register > .control-group > .controls {
	margin-left: 100px;
}

form#register > .control-group > .controls {
	margin-left: 100px;
	display: block;
}

form#login > .control-group > .controls {
	display: block;
	margin-left: 0px;
}

form#register > .control-group > .controls > .add-on {
}

.main_nav {
	padding: 0px;
	margin: 10px 0px 0px 10px;
}

.main_nav > li.active {
	border-left: 5px solid #cccccc;
	position: relative;
	left: 10px;
}

.main_nav > li > a {
	border-top: 1px solid #eaeaea;
	padding: 5px 5px 5px 15px;
}

.main_nav > li > a:hover {
	background-color: #fafafa;
}

.main_nav > li > a > .icon-chevron-right {
	float: right;	
	opacity: 0.25;
}

.main {
	padding: 0px 20px;
}

@-webkit-keyframes pulsate {
	0% { -webkit-box-shadow: 0px 0px 5px #99FA23; }
	100% { -webkit-box-shadow: 0px 0px 0px #99FA23; }
}

.online_indicator {
	height: 10px;
	width: 10px;
	border-radius: 5px;
	float: left;
	margin-right: 6px;
	margin-top: 4px;
	background-color: red;
}

.online {
	background-color: #87E01B;
	-webkit-animation: pulsate 2s linear 0s infinite alternate;
}

#friend_button {
	margin-left: 10px;
	padding: 6px 7px 4px 4px;
	height: 20px;
	border-radius: 3px;

	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;

	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);

	cursor: pointer;
}

#friend_button.add:hover {
	background-color: #83D61E;
}

#friend_button > .icon-plus {
	margin: -3px 2px 0px 2px;
}

#friend_button.add {
	background-color: #87E01B;
}
