<!DOCTYPE html5>
<html lang="en">
	<head>
		<title>cumonu</title>
		<link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/static/stylesheets/screen.css" />
		<script src="http://code.jquery.com/jquery-latest.js"></script>
 		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/scripts/sitter.jquery.js"></script>
	</head>
	<body>
		<div id="header">
			<span class="title">cumonu</span>
		</div>
		<div id="page">
		</div>
	</body>
</html>
