<bold>CoolChat&trade;</bold><br />
<small>
with 
		{{#member_list}}
		<a href="/user/{{username}}">{{name}}</a>{{^is_last}}, {{/is_last}}
		{{/member_list}}
</small>

<div id="messages">
{{#chat.messages}}
{{> chat_message.mustache}}<br />
{{/chat.messages}}

{{^chat.messages}}
<small><em>No messages.</em></small>
{{/chat.messages}}
</div>

<div id="chat_controls">
	<form id="chat_form">
		<div class="control-group">
			<div class="input-append">
				<input type="hidden" name="chat_id" value="{{chat._id}}" />
				<input type="text" name="message" placeholder="Say something..." />
				<input type="submit" class="btn" value="Send" />
			</div>
		</div>
	</form>
	
	<div class="add_user">
		<a href="#">Add friend to conversation</a><br />

		<div id="chat_friends">
				{{#friends}}
				<a href="#" class="add_to_chat" data-user-id="{{user_id}}" data-chat-id="{{chat._id}}">
						<i class="icon-plus"></i> {{name}}
				</a><br />
				{{/friends}}
		</div>
	</div>
</div>
