<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2 sidebar">
			<!--Sidebar content-->
			<ul class="nav nav-lists main_nav">
				<li class="nav-header">
				{{user.first_name}} {{user.last_name}}
				</li>
				<li class="active">
					<a id="wallposts" href="#">Wallposts <i class="icon-chevron-right"></i></a>
				</li>
				<li>
					<a href="#">Friends <i class="icon-chevron-right"></i></a>
				</li>
				<li>
					<a id="search" href="#">Search <i class="icon-chevron-right"></i></a>
				</li>
				<li>
					<a href="#">Photos <i class="icon-chevron-right"></i></a>
				</li>
				<li>
					<a href="#">Messages <i class="icon-chevron-right"></i></a>
				</li>
				<li class="nav-header">
					Account
				</li>
				<li>
					<a href="#" id="logout">Logout</a>
				</li>
			</ul>
		</div>
		<div class="span10 main" id="content">
		</div>
	</div>
</div>
