<form id="search_form" class="form-search">
	<legend>Search people</legend>
	<div class="control-group">
		<div class="input-append">
			<input type="text" class="search-query" name="query" placeholder="John Doe" />
			<input type="submit" class="btn" value="Search" />
		</div>
	</div>
</form>

<div id="search_results">
</div>
