<form id="search_form" class="form-search">
	<legend>Search people</legend>
	<div class="control-group">
		<div class="input-append">
			<input type="text" class="search-query" name="first_name" id="first_name" placeholder="John Doe" />
			<button class="btn" type="button">Search</button>
		</div>
	</div>
</form>
